body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.container {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.content {
    padding-top: 20px;
}



/*@media screen and (max-width: 959px)
.header-nav-item-logo {
    top: 18px;
    text-align: center;
}